.hero-small-heading {
  padding: 9px 22px 9px 22px;
  border-radius: 47px;
  background: #0054ff33;
  border: 0.5px solid;

  border-image-source: linear-gradient(
    180deg,
    #0054ff 0%,
    rgba(0, 84, 255, 0.63) 100%
  );
}
